@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');


* {
  font-family: "Nunito", sans-serif !important;
}

.title {
  text-align: center;
}

.nav-bar-text a, .nav-bar-btn a{
  text-decoration: none;
  color: white;
}

.loading-wrapper {
  margin: 30px auto;
}

.search-wraper {
  margin-top: 20px;
  margin: 20px auto;
}

.main-wrapper {
  text-align: center;
}

.users-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}

.oneUser {
  margin: 40px;
  width: 28%;
  display: inline-block;
  height: 20rem;
  vertical-align: top;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btns-wrapper {
  margin:auto;
  padding-top: 2rem;
  text-align: center;
  display: inline-block !important;

}
.delBtn {
  margin-left: 10px !important;
}

.modal-wrapper {
  text-align: center;
}
.title-modal-wrapper, .modal-title{
  margin: 12px !important;
}

.add-user-wrapper {
  margin-top: 20px;
}

.user-inputs-container {
  width: 100%;
  margin: 10px auto;
}

.name-conteiner, .image-conteiner, .email-conteiner, .location-conteiner, .btn {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}

.user-f-name, .user-l-name, .user-email, .user-image, .country, .city, .street {
  margin-top: 20px !important;
}

.add-form {
  margin: auto;
  width: 30%;
}

@media only screen and (max-width: 1330px) {
  .oneUser {
    margin: 40px;
    width: 30%;
    height: 21rem;

  }
}

@media only screen and (max-width: 1220px) {
  .oneUser {
    margin: 40px;
    width: 35%;
    height: 21rem;

  }
}

@media only screen and (max-width: 1055px) {
  .oneUser {
    margin: 40px;
    width: 90%;
    height: 21rem;

  }
}

@media only screen and (max-width: 400px) {
  .users-wrapper {
    width: 100%;
  }

  .oneUser {
    margin: 40px;
    width: 90vw;
    height: 21rem;
  }
}